# Editor libraries
autopep8==2.0.0
flake8==5.0.4
# To show API endpoints information
Markdown==3.4.1

# black formatter
black==22.10.0

faker==15.3.3

# load the default requiredments
-r requirements.txt
