# Editor libraries
autopep8==1.7.1
flake8==5.0.4
# To show API endpoints information
Markdown==3.4.1

# black formatter
black==22.10.0

faker==15.1.1

# load the default requiredments
-r requirements.txt
