# Editor libraries
autopep8==2.0.1
flake8==6.0.0
pep8>=1.7.1
pylint>=2.15.9
pylint_django>=2.5.3
# To show API endpoints information
Markdown==3.4.1

# black formatter
black==22.12.0

faker==15.3.4

# load the default requiredments
-r requirements.txt
