[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {version = "==4.1.5", extras = ["argon2"]}
django-environ = "==0.9.0"
psycopg2-binary = "==2.9.4"
mysqlclient = "==2.1.1"
djangorestframework = "==3.14.0"
django-filter = "==22.1"
djangorestframework-simplejwt = "==5.2.2"
django-vite = "==2.0.2"
django-cors-headers = "==3.13.0"
cryptography = "==39.0.2"
gunicorn = "==20.1.0"
pillow = "==9.4.0"
pymemcache = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
pep8 = "*"
pylint = "*"
pylint-django = "*"
markdown = "*"
black = "*"
faker = "*"

[requires]
python_version = "3.10"
