## Django dependencies

# django with argon2 support
django[argon2]>=4.0.6
# django load .env file
django-environ>=0.9.0
# Database clients libraries
psycopg2-binary>=2.9.0
mysqlclient>=2.1.1

# Django rest framework libraries
djangorestframework>=3.13.0
# filter rest parameters
django-filter==22.1

# dj-rest-auth
djangorestframework-simplejwt>=5.2.0
django-vite>2.0.0
django-cors-headers>=3.13.0

# For cryptography
cryptography>=37.0.4

# WSGI compliant production server
gunicorn>20.0.0
