Django>=4.0.6
autopep8
flake8
django-environ
psycopg2-binary
djoser
mysqlclient>=2.1.1
django_restframework
dj-rest-auth
djangorestframework-simplejwt[crypto]
drf-yasg
django[argon2]
gunicorn>20.0.0
django-vite>2.0.0
django-cors-headers>=3.13.0
