@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap';

// Style for b-list-paginator tag
.paginator{
    --bs-pagination-color: theme(colors.secondary.DEFAULT) !important;
    --bs-pagination-bg: theme(colors.primary.DEFAULT)!important;
    --bs-pagination-border-width: 1px!important;
    --bs-pagination-border-color: theme(colors.zinc.400)!important;
    --bs-pagination-hover-color: theme('colors.primary.light')!important;
    --bs-pagination-hover-bg: theme(colors.primary.light / 15%)!important;
    --bs-pagination-hover-border-color: theme(colors.primary.dark)!important;
    --bs-pagination-focus-color: theme(colors.primary.dark)!important;
    --bs-pagination-focus-box-shadow: 0 0 0 0.10rem  theme(colors.primary.dark / 30%)!important;
    --bs-pagination-focus-bg: theme(colors.primary.dark)!important;
    --bs-pagination-active-color: theme(colors.secondary.DEFAULT)!important;
    --bs-pagination-active-bg: theme(colors.primary.dark)!important;
    --bs-pagination-active-border-color: theme('colors.primary.light')!important;
    --bs-pagination-active-border-bg-color: theme('colors.primary.light')!important;
    --bs-pagination-disabled-bg: theme(colors.zinc.200)!important;
    @media (prefers-color-scheme: dark) {
        --bs-pagination-background-color:theme(colors.secondary.DEFAULT)!important;
        --bs-pagination-active-color: theme(colors.secondary.DEFAULT)!important;
        --bs-pagination-color: white!important;
        --bs-pagination-border: theme(colors.secondary.DEFAULT)!important;
        --bs-pagination-disabled-bg: theme(backgroundColor.slate.700)!important;
        --bs-pagination-disabled-border-color: theme(
            backgroundColor.slate.900
        )!important;
        --bs-pagination-disabled-color: theme(colors.zinc.400)!important;
    }
}


// Style for b-list-group tag
.button-group{

    --bs-list-group-color: #212529!important;
    --bs-list-group-bg: #fff!important;
    --bs-list-group-border-color: rgba(0, 0, 0, 0.125)!important;
    --bs-list-group-action-color: #495057!important;
    --bs-list-group-action-hover-color: #495057!important;
    --bs-list-group-action-hover-bg: #f8f9fa!important;
    --bs-list-group-action-active-color: #212529!important;
    --bs-list-group-action-active-bg: #e9ecef!important;
    --bs-list-group-disabled-color: #6c757d!important;
    --bs-list-group-disabled-bg: #fff!important;
    --bs-list-group-active-color: #212529!important;
    --bs-list-group-active-bg: theme(colors.primary.dark)!important;
    --bs-list-group-active-border-color: theme('colors.primary.light')!important;

    @media (prefers-color-scheme: dark) {
        --bs-list-group-color: #f8f9fa!important;
        --bs-list-group-action-hover-color: #f8f9fa!important;
        --bs-list-group-action-hover-bg: theme(colors.primary.light / 70%)!important;
    }


}


/*Style of table*/
.table {
    >thead {
        @apply tw-bg-secondary tw-text-white tw-font-bold;
    }

    @media (prefers-color-scheme: dark) {
        color: white !important;
        --bs-table-striped-color: theme(colors.zinc.400);
        --bs-table-hover-color: theme('colors.primary.light');
        --bs-table-hover-bg: theme(colors.primary.light / 15%);
    }
}

/*Style of buttons ver detalles, editar, eliminar*/
.t-button-group {
    max-width: fit-content !important;
    @apply tw-rounded tw-overflow-hidden tw-flex tw-place-content-stretch tw-place-items-stretch;

    >button {
        border-radius: 0.3rem;
        margin-left: 0.5rem;
        min-width: auto;
        max-width: 100%;
    }
}

/*Style of the switch*/
.form-check-input:checked {
    color: theme('colors.primary.light');
    border-color: #212529;
}


/*Style of buttons ver detalles, editar, eliminar*/
.t-button-group {
    max-width: fit-content !important;
    @apply tw-rounded tw-overflow-hidden tw-flex tw-place-content-stretch tw-place-items-stretch;

    >button {
        border-radius: 0.3rem;
        margin-left: 0.5rem;
        min-width: auto;
        max-width: 100%;
    }
}



